@import "@fontsource/merriweather";
@import "@fontsource/jockey-one";

:root {
  --color-theme-1: #ff3e00;
  --color-text: rgba(0, 0, 0, 1);
  --border-radius: 0.8rem;
  --max-width: 60rem;
  font-family: Merriweather, serif;
  color: var(--color-text);
}

@media screen and (max-width: 720px) {
  :root {
    --max-width: 95%;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-size: 100vw 100vh;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  font-weight: 400;
}

p {
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: Merriweather;
  margin: 0.5rem 0;
}

a {
  color: var(--color-theme-1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2.625rem;
  font-family: Jockey One;
  margin: 1.4rem 0.2rem 0.2rem 0.2rem;
}

h2 {
  font-size: 1.8rem;
  margin: 1.4rem 0.2rem 0.2rem 0.2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.6rem;
  margin: 1.4rem 0.2rem 0.2rem 0.2rem;
  font-weight: 400;
}

h4 {
  font-size: 1.2rem;
  margin: 1.4rem 0.2rem 0.2rem 0.2rem;
  font-weight: 400;
}

pre {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--color-text);
}

.text-column {
  display: flex;
  width: 100%;
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

hr {
  border: 0;
  border-top: 0.0625rem solid rgba(0, 0, 0, 1);
  margin: 1rem 0;
}
